<%= form_with(model: player) do |form| %>
  <% if player.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
        <% player.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "field form-group">
    <%= form.text_field :nome, class: "form-control", placeholder: "Nome" %>
  </div>

  <div class = "field form-group">
    <%= form.text_field :cpf, class: "form-control", placeholder: "CPF"   %>
  </div>

  <div class = "field form-group">
    <%= form.text_field :nascimento, class: "form-control", placeholder: "Nascimento"   %>
  </div>

  <div class = "field form-group">
    <%= form.text_field :idade, class: "form-control", placeholder: "Idade"   %>
  </div>

  <div class = "field form-group">
    <%= form.text_field :genero, class: "form-control", placeholder: "Gênero"   %>
  </div>

  <div class = "field form-group">
    <%= form.text_field :rg, class: "form-control", placeholder: "RG"   %>
  </div>

  <div class = "field form-group">
    <%= form.text_field :entidade, class: "form-control", placeholder: "Entidade"   %>
  </div>

  <div class = "field form-group">
    <%= form.text_field :telefone, class: "form-control", placeholder: "Telefone"  %>
  </div>

  <div>
    <%= form.text_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class = "actions" >
    <%= form.submit class: "btn btn-info" %>
  </div>
<% end %>
