<div id="<%= dom_id player %>">
  <p>
    <strong>Nome:</strong>
    <%= player.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= player.cpf %>
  </p>

  <p>
    <strong>Nascimento:</strong>
    <%= player.nascimento %>
  </p>

  <p>
    <strong>Idade:</strong>
    <%= player.idade %>
  </p>

  <p>
    <strong>Genero:</strong>
    <%= player.genero %>
  </p>

  <p>
    <strong>Rg:</strong>
    <%= player.rg %>
  </p>

  <p>
    <strong>Entidade:</strong>
    <%= player.entidade %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= player.telefone %>
  </p>

</div>
