<h1><span class="badge badge-light">Banco de Dados</span></h1>

<br/>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Nascimento</th>
      <th>Idade</th>
      <th>Gênero</th>
      <th>RG</th>
      <th>Entidade</th>
      <th>Telefone</th>

    </tr>
  </thead>

  <tbody>
      <% @players.each do |player| %>
        <% if player.user == current_user || current_user.administrador? %>
          <tr>
            <td> <%= link_to player.nome, player %> </td>
            <td> <%= player.cpf %>  </td>
            <td> <%= player.nascimento %>  </td>
            <td> <%= player.idade %>  </td>
            <td> <%= player.genero %>  </td>
            <td> <%= player.rg %>  </td>
            <td> <%= player.entidade %>  </td>
            <td> <%= player.telefone %>  </td>
          </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<br/>

<%= link_to "Inscrever novo(a) atleta", new_player_path, class: "btn btn-info" %>

